body {
    background: url("../images/background.jpg");
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.instructions {
    border: 3px solid darkred;
    border-radius: 25px;
    background: lightpink;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.instructions h1, h5, p {
    padding-left: 10px;
}

.button_div {
    border: 3px solid darkred;
    border-radius: 25px;
    background: lightpink;
    margin-right: 15px;
    padding-top: 10px;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-danger {
    border: 2px solid darkred;
}

/* BEGIN SUBMIT FORM STYLING */
.search_bar {
    border: 3px solid darkred;
    border-radius: 25px;
    background: lightpink;
    max-height: 250px;
}

form {
    padding: 10px;
}

input[type=text]:focus {
    background-color: lightgrey;
}

#submit, #user_input {
    border: 2px solid darkred;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
}

#submit {
    font-weight: 700;
    margin-bottom: 10px;
}

#submit:hover {
    cursor: pointer;
}
/* END SUBMIT FORM STYLING */

.giphy_container {
    margin-top: 20px;
}

.giphy_holder {
    margin-bottom: 50px;
}

div.giphy_div {
    display: inline-block;
}

.giphy_div {
    display: flex;
    width: 30%;
    margin-right: 3%;
}

.giphy_div div {
    flex: 1;
    position: absolute;
}

.giphy_div img {
    width: 100%;
    transition: width 1s, height 1s;
    margin-left: 12%;
}

.label {
    border: 1px single darkred;
    border-radius: 50%;
    color: darkred;
    text-align: center;
    background: lightpink;
    padding: 1px 15px 1px 15px;
    font-size: .5em;
}

img {
    margin: 10px 10px 10px 0;
    border: 3px double darkred;
    border-radius: 25%;
    max-height: 200px;
}

span {
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    position: relative;
    bottom: 35px;
    left: 55%;
}

@media only screen and (max-width: 520px) {

    .giphy_div {
        width: 45%;
    }

    .giphy_div img {
        margin: 10px 10px 10px 0;
    }

    .button_div {
        margin-right: 0px;
    }

}

@media only screen and (max-width: 420px) {
    
    .btn-danger {
        width: 100%;
    }
    
    .giphy_div {
        width: 100%;
    }
    
    .giphy_div img {
        margin: 10px 0 10px 0;
    }
}



