body {
    background: url("../images/background.jpg");

}

button {
    margin-right: 10px;
    margin-top: 10px;
}

.giphy_container {
    margin-top: 20px;
}

img {
    margin-top: 10px;
}

.search_bar {
    margin-top: 10px;
    border: 2px solid red;
    background: grey;
    max-height: 150px;
}